---
pageable: true
per_page: 5
title: Dankin Blog
---

<body>
  <header>
    <div class="about-text">
      <h1 class="name">Dankin Blog</h1>
      <p class="status">веб-нуб</p>
      <hr class="line">
      <!-- <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae eius labore amet, aut, quasi quas rem, autem assumenda omnis vel quibusdam unde neque. Architecto, non, repudiandae! Repellendus blanditiis illo dolore.</p> -->
      <!-- <hr class="secondline"> -->
      <ul class="social-items">
        <li class="item">
          <a href="http://new.vk.com/idenevil" target="_blank" title="VK">
            <!-- <i class="icon icon-vk"></i> -->
            <i class="icon fa fa-vk" aria-hidden="true"></i>
          </a>
        </li>
        <li class="item">
          <a href="https://github.com/tlinebook" target="_blank" title="GitHub">
            <!-- <i class="icon icon-github-circled"></i> -->
            <i class="icon fa fa-github-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="item">
          <a href="https://bitbucket.org/XinoN/" target="_blank" title="BitBucket">
            <!-- <i class="icon icon-bitbucket"></i> -->
            <i class="icon fa fa-bitbucket" aria-hidden="true"></i>
          </a>
        </li>
        <li class="item">
          <a href="mailto:ishin.daniil@gmail.com" target="_blank" title="Mail">
            <!-- <i class="icon icon-gmail"></i> -->
            <i class="icon fa fa-envelope" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <% page_articles.each do |article| %>
      <article>
        <h1 class="header">
          <a href="<%= article.url %>" class="title" title="Читать"><%= article.title %></a>
        </h1>
        <p class="date"><time><%= article.date.strftime('%b %e %Y') %></time></p>
      </article>
    <% end %>
    <div class="pagination">
      <% if prev_page %>
        <a href="<%= prev_page.url %>" class="prev">Поздние статьи</a>
      <% end %>
      <% if next_page %>
        <a href="<%= next_page.url %>" class="next">Ранние статьи</a>
      <% end %>
    </div>
  </main>
  <footer>
    <p class="copyright">© 2016 Dankin Blog</p>
  </footer>
</body>
</html>
